/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* .App {
  width: 100vw;
  height: 100vh;
  background-color: #353958;
  color: #353958;
  letter-spacing: 2px;
  font-size: 16px;
  font-family: Helvetica;
} */

/* 
Color palettes

Nivo
#f7fafb
#e8c1a0
#f47560
#f1e15b
#e8a838
#61cdbb
#97e3d5

Nivo grays
#f7f7f7
#eeeeee
#858585

Nivo dark
#245485
#151b20
#0e1317
#222d33 

19 minimal yet warm
#eae8dc
#d8c3a4
#8e8d89
#e88073
#e85a50

46 corporate and sleek
#f6f6e6
#353958
#54668e
#e8e8e8
#ffffff
*/
